<%= form_with(model: soda, local: true) do |form| %>
  <% if soda.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(soda.errors.count, "error") %> prohibited this soda from being saved:</h2>

      <ul>
      <% soda.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :brand %>
    <%= form.text_field :brand %>
  </div>

  <div class="field">
    <%= form.label :category %>
    <%= form.text_field :category %>
  </div>

  <div class="field">
    <%= form.label :flavor %>
    <%= form.text_field :flavor %>
  </div>

  <div class="field">
    <%= form.label :capacity %>
    <%= form.number_field :capacity %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price %>
  </div>

  <div class="field">
    <%= form.label :quantiti %>
    <%= form.number_field :quantiti %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
